<% include partials/header %>

<h1>My Advent of Code 2018 Solutions</h1>

<ul>
<% Object.keys(solutions).forEach(function(solution) { %>
    <li>
        <a href="solutions/<%= solution %>">
            Solution #<%= solution %>
        </a>
    </li>
<% }) %>
</ul>

<% include partials/footer %>

