<% include partials/header %>

<h1>My Advent of Code 2018 Solutions</h1>

<% Object.keys(solutions).forEach(function(solution) { %>
    <a href="<%=solutions[solution]%>"><%= solution%></a>
<% }) %>

<% include partials/footer %>

